PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=your_password
DB_NAME=metro_management_db

JWT_SECRET=mysecretkey
JWT_EXPIRES_IN=1d

MAIL_HOST=smtp.ethereal.email
MAIL_PORT=587
MAIL_USER=your_ethereal_email
MAIL_PASS=your_ethereal_password
MAIL_FROM=metro@example.com